@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "joti-one";
  src: url("/fonts/JotiOne-Regular.ttf");
}
@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: "inter-bold";
  src: url("/fonts/Inter_24pt-Bold.ttf");
}
